body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link{
    text-decoration:none;
    color:rgb(52, 52, 52);
}
a:visited{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:none;
    color:black;
}
.header{
    padding-top:-4vw;
    padding-bottom:1vw;
    margin-left:29vw;
    margin-right:29vw;
    margin-top:2vw;
    margin-bottom: 4.5vw;;
    border: 1.7px;
    border-style: solid;
    text-align:center;
    
}
.divpier{
    margin-left:9.6vw;
    margin-right: 10vw;
    margin-bottom: 10px;
}
.divroad{
    margin-left:-0.4vw;
    margin-bottom: 10px;
}
.divlake{
    margin-left:19vw;
    margin-bottom: 10px;
}
.divbottom_font{
    position:absolute;
    top:313%;
    margin-left: 44vw;;
}
.div_img{
    position:absolute;
    top:318%;
    margin-left:44.3vw;;
    padding-bottom:4vw;
}
table{
    width:33%;
    height:0.7vw;
    text-align: center;
    margin:0 auto;
}
#big_fontset{
    font-size: 3.2vw;
    margin-top: 1vw;
    margin-bottom:0.6vw;
    
}
#small_fontset{
    font-size: 0.9vw;
}
#pier{
    position:absolute;
    clip:rect(0,61vw,100vw,17vw);
    margin:0 auto;
}
#road{
    position:absolute;
    top:130%;
    clip:rect(0,71vw,470px,27vw);
    margin:0 auto;
    width:95%;
}
#lake{
    position:absolute;
    top:210%;
    margin:0 auto;
    clip:rect(1vw,660px,100vw,7.6vw);
}
#bottom_fontset{
    font-size: 0.7vw;
}
#facebook{
    height:14px;
    width:14px;
    float:left;
    margin-right:19px;
}
#twitter{
    height:16px;
    width:16px;
    float:left;
    margin-right:19px;
}
#instagram{
    height:16px;
    width:16px;
    float:left;
}