body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link{
    text-decoration:none;
    color:rgba(108, 108, 108, 0.986);
}
a:visited{
    text-decoration:none;
    color:black;
    font-weight: bold;
}
a:hover{
    text-decoration:none;
    color:black;
}
table{
    width:173px;
    height:17px;
    text-align: center;
    margin:0 auto;
}
.top{
    height:170px;
    left:50px;
    right:50px;
    /*background-color: aqua;*/
    position:absolute;
}
.header{
    width:494px;
    top:32px;
    height:97px;
    border: 1.7px;
    border-style: solid;
    text-align:center;
    position: relative;
    margin:0px auto;
}
.imgpart{
    height:1740px;
    left:12px;
    right:12px;
    top:190px;
    /*background-color:blue;*/
    position:absolute;
}
.divpier,.divroad,.divlake{
    position:relative;
    top:5px;
    margin:0px auto;
    text-align:center;
    /*background-color: aquamarine;*/
    width:570px;
    overflow:hidden;
}
.botpart{
    height:70px;
    left:200px;
    right:200px;
    top:1950px;
    /*background-color:blueviolet;*/
    position:absolute;
}
.divbottom_font{
    text-align:center;
    position: relative;
    margin:auto;
    width:200px;
    top:6px;
    font-size: 8px;
}
.iconpart{
    position:relative;
    margin:auto;
    text-align: center;
    top:13px;
    width:200px;
}
#big_fontset{
    font-size: 42px;
    margin-top: 10px;
    margin-bottom:3px;
    white-space:nowrap;
}
#small_fontset{
    font-size: 9px;
}
#pier{
    position:relative;
    left:-210px;
}
#road{
    position:relative;
    width:1160px;
    left:-290px;
}
#lake{
    position:relative;
    left:-100px;
}
#facebook{
    height:14px;
    width:14px;
    margin-right:12px;
}
#twitter{
    height:16px;
    width:16px;
    margin-right:12px;
}
#instagram{
    height:16px;
    width:16px;
}